<%= form_tag password_resets_path, :method => :post do %>
  <div class="form">
    <h1>Reset Your Password</h1>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
    <%= submit_tag "Reset Password", class: "btn-submit" %>
  </div>
<% end %>
